<!DOCTYPE html>
<html>
  <head>
    <title>ipe-chat3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <div class="top-icon">
        <a href="/">
          <img src="/assets/logo_grey.png">
        </a>
      </div>
      <%# <button id="remove-btn">remove icon</button> %>

      <ul>
        <% if current_user %>
          <li><%= link_to "LOGOUT", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "SIGNUP", signup_path %></li>
          <li><%= link_to "LOGIN", login_path %></li>
        <% end %>
      </ul>
    </header>
    <% if notice %>
      <p class="flash"><%= notice %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
